
body{
    margin: 0%;
    text-align: center;
    

}
p{
    font-size: larger;
}
.profile{
    width: 50%;
    margin: 2% auto 2% auto; 
    font-size: 100 %;   
}
h1{
    margin-top: 0%;
    width: 30%;
    margin: 0 auto 0 auto;
    font-family: 'Beau Rivage', cursive;
    font-size: 300%
    
}
    h2{
    font-family: 'Merriweather', serif;
    font-size: 150%;
    color: #66BFBF;
}
    h3{
    font-family: 'Montserrat', sans-serif; 
    font-size: 120%;color: #11999E;
    margin-top: 0.5%;
}
.top_container{
    background-color: #EAF6F6;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100px;
    color: #66BFBF;
}
.bottom_cloud{
    position: absolute;
    padding: 1%;
    left: 20%;
    bottom: 50%;
}
.top_cloud{
    position: absolute;
    right: 20%;
    top: 50px;
   
}
.mountain{
    width: 60;
    padding: 3%;
}
.dp{
    width: 22%;
    padding: 2%;
}
.coding{
    width: 21%;
    float: left;
    padding-right: 5%;

    
}
.binge_watching{
    width: 22%;
    float: right;
    padding-left: 5%;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width:5%;
    border-color: grey;
    border-width: 5px; 
}
a{
    padding: 0.5%;
    
}
.skill-row-1{
    width: 50%;
    margin: 2% auto 2% auto;
    padding-top: 3%;
    text-align: left;
    
    
}
.skill-row-2{
    width: 50%;
    margin: 2% auto 2% auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: left;
}
.bottom-container{
    padding: 3% 2% 2% 2%;
    background-color: #66BFBF;
}
button{
    border-radius: 4px;
    border-color: #66BFBF;
    border-width: 1px;
    padding: 0.75%;
    background-color: #66BFBF;
    color: white;
    font-size: large;
}
.button{
    padding-bottom: 1%;
}
.footer-link{
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}
a:hover{
    color: black;
}
button:hover{
    color:black;
}
